infrastructure/n8n-workflows/publish-distribute.json
{
    "updatedAt": "2026-02-26T01:42:51.586Z",
    "createdAt": "2026-02-26T00:08:18.234Z",
    "id": "4AdGcqTq1UPtZ6KS",
    "name": "Doppler Editorial \u2014 Publish & Distribute",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "doppler-publish",
                "options": {},
                "responseMode": "lastNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "doppler-publish"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://www.dopplervpn.org/api/blog/create",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.BLOG_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ title: $json.title, content: $json.content, excerpt: $json.excerpt, meta_description: $json.meta_description, featured_image: $json.imageUrl, tags: $json.tags, template_type: $json.templateType, source_combo: $json.sourcesStr || $json.source_combo, topic_category: $json.topicCategory, author: 'Doppler Team', auto_translate: false }) }}",
                "options": {
                    "timeout": 60000,
                    "response": {
                        "response": {
                            "fullResponse": true
                        }
                    }
                }
            },
            "id": "publish-blog",
            "name": "Publish to Blog API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const blogResponse = $input.first().json;\nlet apiBody = blogResponse.body || blogResponse;\n\n// Handle string body from fullResponse mode\nif (typeof apiBody === 'string') {\n  try { apiBody = JSON.parse(apiBody); } catch(e) { apiBody = {}; }\n}\n\n// Get original data from Flatten Body (has title, excerpt, content, etc.)\nconst original = $('Flatten Body').first().json;\n\nconst templateType = original.templateType || original.template_type || apiBody.template_type || 'quick-take';\nconst title = original.title || apiBody.title || '';\nconst excerpt = original.excerpt || apiBody.excerpt || '';\nconst slug = apiBody.slug || original.slug || '';\nconst baseUrl = 'https://www.dopplervpn.org';\nconst enUrl = (apiBody.all_urls && apiBody.all_urls.en) || apiBody.english_url || (baseUrl + '/en/blog/' + slug);\nconst ruUrl = (apiBody.all_urls && apiBody.all_urls.ru) || apiBody.russian_url || (baseUrl + '/ru/blog/' + slug);\n\nlet enMessage, ruMessage;\n\nif (templateType === 'meme' || templateType === 'roundup') {\n  const emoji = templateType === 'meme' ? '\\u{1F602}' : '\\u{1F525}';\n  enMessage = emoji + ' ' + title + '\\n\\n\\u{1F449} ' + enUrl;\n  ruMessage = emoji + ' ' + title + '\\n\\n\\u{1F449} ' + ruUrl;\n} else if (templateType === 'analysis') {\n  enMessage = '\\u{1F4CA} Deep Dive: ' + title + '\\n\\n' + (excerpt || '') + '\\n\\n\\u{1F517} Read full analysis: ' + enUrl;\n  ruMessage = '\\u{1F4CA} \\u0410\\u043D\\u0430\\u043B\\u0438\\u0442\\u0438\\u043A\\u0430: ' + title + '\\n\\n\\u{1F517} \\u0427\\u0438\\u0442\\u0430\\u0442\\u044C \\u043F\\u043E\\u043B\\u043D\\u043E\\u0441\\u0442\\u044C\\u044E: ' + ruUrl;\n} else {\n  enMessage = '\\u{26A1} ' + title + '\\n\\n' + (excerpt || '') + '\\n\\n\\u{1F517} ' + enUrl;\n  ruMessage = '\\u{26A1} ' + title + '\\n\\n\\u{1F517} ' + ruUrl;\n}\n\nreturn [{\n  json: {\n    ...apiBody,\n    title,\n    excerpt,\n    templateType,\n    enMessage,\n    ruMessage,\n    enUrl,\n    ruUrl,\n    blogId: apiBody.blog_id || apiBody.id,\n    slug\n  }\n}];"
            },
            "id": "format-telegram",
            "name": "Format Telegram Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const https = require('https');\n\nfunction httpsPost(hostname, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const opts = {\n      hostname, path, method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(data) }\n    };\n    const req = https.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst botToken = $env.TELEGRAM_BOT_TOKEN;\nconst text = $json.enMessage;\n\nconst res = await httpsPost('api.telegram.org', '/bot' + botToken + '/sendMessage', {\n  chat_id: '-1003716855563',\n  text: text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false\n});\n\nconst result = JSON.parse(res.body);\nreturn [{ json: { en_posted: result.ok || false, en_message_id: result.result ? result.result.message_id : null, ...($json) } }];"
            },
            "id": "post-en",
            "name": "Post to EN Channel",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                -100
            ]
        },
        {
            "parameters": {
                "jsCode": "const https = require('https');\n\nfunction httpsPost(hostname, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const opts = {\n      hostname, path, method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(data) }\n    };\n    const req = https.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst botToken = $env.TELEGRAM_BOT_TOKEN;\nconst text = $json.ruMessage;\n\nconst res = await httpsPost('api.telegram.org', '/bot' + botToken + '/sendMessage', {\n  chat_id: '-1003525284412',\n  text: text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false\n});\n\nconst result = JSON.parse(res.body);\nreturn [{ json: { ru_posted: result.ok || false, ru_message_id: result.result ? result.result.message_id : null, ...($json) } }];"
            },
            "id": "post-ru",
            "name": "Post to RU Channel",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst merged = {};\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\nreturn [{ json: {\n  success: true,\n  blogId: merged.blogId || merged.blog_id || merged.id,\n  slug: merged.slug,\n  enUrl: merged.enUrl,\n  ruUrl: merged.ruUrl,\n  en_posted: merged.en_posted || false,\n  ru_posted: merged.ru_posted || false,\n  en_message_id: merged.en_message_id || null,\n  ru_message_id: merged.ru_message_id || null\n} }];"
            },
            "id": "merge-results",
            "name": "Merge Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                0
            ]
        },
        {
            "id": "flatten-4AdGcq",
            "name": "Flatten Body",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ],
            "parameters": {
                "jsCode": "const items = $input.all();\nconst body = items[0].json.body || items[0].json;\nreturn [{ json: body }];"
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://www.dopplervpn.org/api/blog/translate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.BLOG_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ post_id: $json.body ? (typeof $json.body === 'string' ? JSON.parse($json.body).blog_id : $json.body.blog_id) : $json.blog_id }) }}",
                "options": {
                    "timeout": 300000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                500
            ],
            "id": "translate-node-001",
            "name": "Trigger Translation",
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Publish to Blog API": {
            "main": [
                [
                    {
                        "node": "Format Telegram Messages",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Trigger Translation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Telegram Messages": {
            "main": [
                [
                    {
                        "node": "Post to EN Channel",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Post to RU Channel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to EN Channel": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to RU Channel": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                []
            ]
        },
        "Flatten Body": {
            "main": [
                [
                    {
                        "node": "Publish to Blog API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Flatten Body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "731ebee0-240f-49f5-b41f-e878421dedbb",
    "activeVersionId": "731ebee0-240f-49f5-b41f-e878421dedbb",
    "versionCounter": 64,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-26T00:08:18.236Z",
            "createdAt": "2026-02-26T00:08:18.236Z",
            "role": "workflow:owner",
            "workflowId": "4AdGcqTq1UPtZ6KS",
            "projectId": "EONlUm0d92HHHVBN",
            "project": {
                "updatedAt": "2026-02-25T02:05:40.807Z",
                "createdAt": "2026-02-15T17:41:33.246Z",
                "id": "EONlUm0d92HHHVBN",
                "name": "Roman Pochtman <pochtmanrca@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-15T17:41:33.246Z",
                        "createdAt": "2026-02-15T17:41:33.246Z",
                        "userId": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                        "projectId": "EONlUm0d92HHHVBN",
                        "user": {
                            "updatedAt": "2026-02-26T00:55:17.000Z",
                            "createdAt": "2026-02-25T01:40:25.011Z",
                            "id": "00f12e0f-5634-430b-ab08-fd0aefa1a039",
                            "email": "pochtmanrca@gmail.com",
                            "firstName": "Roman",
                            "lastName": "Pochtman",
                            "personalizationAnswers": null,
                            "settings": {
                                "firstSuccessfulWorkflowId": "CoWsngJ0UMOjyzFL",
                                "userActivated": true,
                                "userActivatedAt": 1772064788001
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-25",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-26T01:42:51.588Z",
        "createdAt": "2026-02-26T01:42:51.588Z",
        "versionId": "731ebee0-240f-49f5-b41f-e878421dedbb",
        "workflowId": "4AdGcqTq1UPtZ6KS",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "doppler-publish",
                    "options": {},
                    "responseMode": "lastNode"
                },
                "id": "webhook-trigger",
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    0,
                    0
                ],
                "webhookId": "doppler-publish"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://www.dopplervpn.org/api/blog/create",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.BLOG_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ title: $json.title, content: $json.content, excerpt: $json.excerpt, meta_description: $json.meta_description, featured_image: $json.imageUrl, tags: $json.tags, template_type: $json.templateType, source_combo: $json.sourcesStr || $json.source_combo, topic_category: $json.topicCategory, author: 'Doppler Team', auto_translate: false }) }}",
                    "options": {
                        "timeout": 60000,
                        "response": {
                            "response": {
                                "fullResponse": true
                            }
                        }
                    }
                },
                "id": "publish-blog",
                "name": "Publish to Blog API",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    300,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "const blogResponse = $input.first().json;\nlet apiBody = blogResponse.body || blogResponse;\n\n// Handle string body from fullResponse mode\nif (typeof apiBody === 'string') {\n  try { apiBody = JSON.parse(apiBody); } catch(e) { apiBody = {}; }\n}\n\n// Get original data from Flatten Body (has title, excerpt, content, etc.)\nconst original = $('Flatten Body').first().json;\n\nconst templateType = original.templateType || original.template_type || apiBody.template_type || 'quick-take';\nconst title = original.title || apiBody.title || '';\nconst excerpt = original.excerpt || apiBody.excerpt || '';\nconst slug = apiBody.slug || original.slug || '';\nconst baseUrl = 'https://www.dopplervpn.org';\nconst enUrl = (apiBody.all_urls && apiBody.all_urls.en) || apiBody.english_url || (baseUrl + '/en/blog/' + slug);\nconst ruUrl = (apiBody.all_urls && apiBody.all_urls.ru) || apiBody.russian_url || (baseUrl + '/ru/blog/' + slug);\n\nlet enMessage, ruMessage;\n\nif (templateType === 'meme' || templateType === 'roundup') {\n  const emoji = templateType === 'meme' ? '\\u{1F602}' : '\\u{1F525}';\n  enMessage = emoji + ' ' + title + '\\n\\n\\u{1F449} ' + enUrl;\n  ruMessage = emoji + ' ' + title + '\\n\\n\\u{1F449} ' + ruUrl;\n} else if (templateType === 'analysis') {\n  enMessage = '\\u{1F4CA} Deep Dive: ' + title + '\\n\\n' + (excerpt || '') + '\\n\\n\\u{1F517} Read full analysis: ' + enUrl;\n  ruMessage = '\\u{1F4CA} \\u0410\\u043D\\u0430\\u043B\\u0438\\u0442\\u0438\\u043A\\u0430: ' + title + '\\n\\n\\u{1F517} \\u0427\\u0438\\u0442\\u0430\\u0442\\u044C \\u043F\\u043E\\u043B\\u043D\\u043E\\u0441\\u0442\\u044C\\u044E: ' + ruUrl;\n} else {\n  enMessage = '\\u{26A1} ' + title + '\\n\\n' + (excerpt || '') + '\\n\\n\\u{1F517} ' + enUrl;\n  ruMessage = '\\u{26A1} ' + title + '\\n\\n\\u{1F517} ' + ruUrl;\n}\n\nreturn [{\n  json: {\n    ...apiBody,\n    title,\n    excerpt,\n    templateType,\n    enMessage,\n    ruMessage,\n    enUrl,\n    ruUrl,\n    blogId: apiBody.blog_id || apiBody.id,\n    slug\n  }\n}];"
                },
                "id": "format-telegram",
                "name": "Format Telegram Messages",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    600,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "const https = require('https');\n\nfunction httpsPost(hostname, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const opts = {\n      hostname, path, method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(data) }\n    };\n    const req = https.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst botToken = $env.TELEGRAM_BOT_TOKEN;\nconst text = $json.enMessage;\n\nconst res = await httpsPost('api.telegram.org', '/bot' + botToken + '/sendMessage', {\n  chat_id: '-1003716855563',\n  text: text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false\n});\n\nconst result = JSON.parse(res.body);\nreturn [{ json: { en_posted: result.ok || false, en_message_id: result.result ? result.result.message_id : null, ...($json) } }];"
                },
                "id": "post-en",
                "name": "Post to EN Channel",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    900,
                    -100
                ]
            },
            {
                "parameters": {
                    "jsCode": "const https = require('https');\n\nfunction httpsPost(hostname, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const opts = {\n      hostname, path, method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(data) }\n    };\n    const req = https.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', (c) => chunks.push(c));\n      res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst botToken = $env.TELEGRAM_BOT_TOKEN;\nconst text = $json.ruMessage;\n\nconst res = await httpsPost('api.telegram.org', '/bot' + botToken + '/sendMessage', {\n  chat_id: '-1003525284412',\n  text: text,\n  parse_mode: 'HTML',\n  disable_web_page_preview: false\n});\n\nconst result = JSON.parse(res.body);\nreturn [{ json: { ru_posted: result.ok || false, ru_message_id: result.result ? result.result.message_id : null, ...($json) } }];"
                },
                "id": "post-ru",
                "name": "Post to RU Channel",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    900,
                    100
                ]
            },
            {
                "parameters": {
                    "jsCode": "const items = $input.all();\nconst merged = {};\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\nreturn [{ json: {\n  success: true,\n  blogId: merged.blogId || merged.blog_id || merged.id,\n  slug: merged.slug,\n  enUrl: merged.enUrl,\n  ruUrl: merged.ruUrl,\n  en_posted: merged.en_posted || false,\n  ru_posted: merged.ru_posted || false,\n  en_message_id: merged.en_message_id || null,\n  ru_message_id: merged.ru_message_id || null\n} }];"
                },
                "id": "merge-results",
                "name": "Merge Results",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1200,
                    0
                ]
            },
            {
                "id": "flatten-4AdGcq",
                "name": "Flatten Body",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    500,
                    0
                ],
                "parameters": {
                    "jsCode": "const items = $input.all();\nconst body = items[0].json.body || items[0].json;\nreturn [{ json: body }];"
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://www.dopplervpn.org/api/blog/translate",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $env.BLOG_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ post_id: $json.body ? $json.body.blog_id : $json.blog_id }) }}",
                    "options": {
                        "timeout": 30000
                    }
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    650,
                    500
                ],
                "id": "translate-node-001",
                "name": "Trigger Translation",
                "onError": "continueRegularOutput"
            }
        ],
        "connections": {
            "Publish to Blog API": {
                "main": [
                    [
                        {
                            "node": "Format Telegram Messages",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Trigger Translation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Telegram Messages": {
                "main": [
                    [
                        {
                            "node": "Post to EN Channel",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Post to RU Channel",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Post to EN Channel": {
                "main": [
                    [
                        {
                            "node": "Merge Results",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Post to RU Channel": {
                "main": [
                    [
                        {
                            "node": "Merge Results",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Results": {
                "main": [
                    []
                ]
            },
            "Flatten Body": {
                "main": [
                    [
                        {
                            "node": "Publish to Blog API",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Flatten Body",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Roman Pochtman",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-26T01:42:51.641Z",
                "id": 159,
                "workflowId": "4AdGcqTq1UPtZ6KS",
                "versionId": "731ebee0-240f-49f5-b41f-e878421dedbb",
                "event": "activated",
                "userId": "00f12e0f-5634-430b-ab08-fd0aefa1a039"
            }
        ]
    }
}
